html 
body { 
	background: #ddd;
    width: 0 auto;
    margin: 0 auto;
    padding: 2rem;
font-family: 'Raleway', sans-serif;
	color: black;
    }
h1 { 
   font-family: 'Dancing Script', cursive;
   color: black;
   font-size: 50px;
   text-align: center;
 }
